*/babel/*.json
.idea
.vscode
*__pycache__*
*.egg-info
outputs/*
output/*
rendered_images/*
*tmp*
results/*
exps/*
.DS_Store
**/.DS_Store
wandb/*
newton_source/*
data/amass/*.pkl
.claude/*
!.claude/commands/
.cursor/
renders/