torch>=2.2
lightning>=2.3
scikit-image
termcolor>=1.1.0
trimesh>=4.4
setuptools
rich
typer>=0.6.1
pydantic>=2.0
wandb>=0.13.4
transformers>=4.40
easydict
dm_control>=1.0
tensordict>=0.5.0
matplotlib>=3.6
omegaconf==2.3.0
tensorboardX
pandas