# @package _global_

defaults:
  - h1_no_head

robot:
  isaacgym_body_names: ['pelvis', 'head', 'left_hip_yaw_link', 'left_hip_roll_link', 'left_hip_pitch_link', 'left_knee_link', 'left_ankle_link', 'right_hip_yaw_link', 'right_hip_roll_link', 'right_hip_pitch_link', 'right_knee_link', 'right_ankle_link', 'torso_link', 'left_shoulder_pitch_link', 'left_shoulder_roll_link', 'left_shoulder_yaw_link', 'left_elbow_link', 'left_arm_end_effector', 'right_shoulder_pitch_link', 'right_shoulder_roll_link', 'right_shoulder_yaw_link', 'right_elbow_link', 'right_arm_end_effector']

  # Observation parameters
  self_obs_max_coords_size: 343  # ${eval:1+23*(3+6+3+3)-3}

  init_state:
    pos: [ 0.0, 0.0, 1.0 ] # x,y,z [m]
    default_joint_angles: # = target angles [rad] when action = 0.0
      head: 0.


  asset:
    robot_type: h1
